.main
  .main_search
    .main_search_keyword
      %input{ type: 'text', class: 'input_keyword', placeholder: 'keyword'}
    .main_search_btn
      = link_to '#', class: 'send_btn' do
        %i.fas.fa-search

  .main_contents
    .main_contents_post
      %img{:src => "https://lh3.googleusercontent.com/proxy/vj7m1ryR-CDKaxsi_jF6AfMSNC-aDyc2T9q2nEhFnYLyr81pArthzvDSgTzbtrVGjoyRehvx0BtFwB9eC7iyjMbhb9QgN4CxLPRCdzjaNL-b3IMMGhydoWhgk7uP"}/
    
    .main_contents_post
      %img{:src => "https://lh3.googleusercontent.com/proxy/vj7m1ryR-CDKaxsi_jF6AfMSNC-aDyc2T9q2nEhFnYLyr81pArthzvDSgTzbtrVGjoyRehvx0BtFwB9eC7iyjMbhb9QgN4CxLPRCdzjaNL-b3IMMGhydoWhgk7uP"}/
    
    .main_contents_post
      %img{:src => "https://lh3.googleusercontent.com/proxy/vj7m1ryR-CDKaxsi_jF6AfMSNC-aDyc2T9q2nEhFnYLyr81pArthzvDSgTzbtrVGjoyRehvx0BtFwB9eC7iyjMbhb9QgN4CxLPRCdzjaNL-b3IMMGhydoWhgk7uP"}/

    .main_contents_post
      %img{:src => "https://lh3.googleusercontent.com/proxy/vj7m1ryR-CDKaxsi_jF6AfMSNC-aDyc2T9q2nEhFnYLyr81pArthzvDSgTzbtrVGjoyRehvx0BtFwB9eC7iyjMbhb9QgN4CxLPRCdzjaNL-b3IMMGhydoWhgk7uP"}/
    
    .main_contents_post
      %img{:src => "https://lh3.googleusercontent.com/proxy/vj7m1ryR-CDKaxsi_jF6AfMSNC-aDyc2T9q2nEhFnYLyr81pArthzvDSgTzbtrVGjoyRehvx0BtFwB9eC7iyjMbhb9QgN4CxLPRCdzjaNL-b3IMMGhydoWhgk7uP"}/