.menu
  .menu_left
    Gather Room
  .menu_right 
    .menu_right_name
      User : Taro
    .menu_right_function
      Menu :
      = link_to "/posts/new", class: "icon" do
        %i.fas.fa-camera
      = link_to "#", class: "icon" do
        %i.fas.fa-thumbs-up
      = link_to "#", class: "icon" do
        %i.fas.fa-sign-out-alt