.menu
  .menu_left
    Gather Room
  .menu_right 
    .menu_right_name
      User : Taro
    .menu_right_function
    
.contents.row
  .success
    %h3
      Thank you for posting!
  .rerurn
    %a.btn{:href => "/posts"} Return to list of posts.