.menu
  .menu_left
    = link_to "/", class: "title" do
      Gather Room
  .menu_right 
    .menu_right_name
    .menu_right_function
.main
  .main_contents    
    .contents.row
      .empty
      .sentence
        The post has been deleted!
      .sentence
        Click the title to return to the top page!
