.menu
  .menu_left
    Gather Room
  .menu_right 
    .menu_right_name
      User : Taro
    .menu_right_function
    
.contents.row
  .success
    %h3
      削除が完了しました。
    %a.btn{:href => "/posts"} 投稿一覧へ戻る
