.main{
  background-image: url(https://d1f5hsy4d47upe.cloudfront.net/f2/f2b2bb4988332854732f27b0e7624d4e_t.jpeg);
  height: 100vh;
  overflow: scroll;

  &_search{
    display: flex;

    &_keyword{
      height: 70px;
      padding-top: 15px;
      padding-left: 510px;

      .input_keyword{
        padding-left: 5px;
        height: 40px;
        width: 250px;
        border-radius: 10px;
      }
    }

    .send_btn:hover {
      box-shadow: 0 0 40px #dcdcdc;
    }
  }
  &_contents{
    height: 540px;
    // display: grid;
    // gap: 26px;
    // grid-template-columns: 1fr 1fr 1fr;
    // margin-top: 15px;
    // margin-bottom: 80px;
    // margin-left: 16px;

    &_post{
      width: 1199px;
      height: 284px;
      border-radius: 10px;
      .contents.row{
        height: 100%;
        width: 100%;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 15px;
        margin-bottom: 80px;
        margin-left: 110px;
        .content_post{
          height: 300px;
          width: 100%;
          padding-top: 50x;
          margin-bottom: 15px;
          box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
          border-radius: 10px;
          position: relative;
        }
         .content_sentence{
          display: flex;
          width: 80%;
          justify-content: space-between;
          margin-top: 15px;
          margin-left: 42px;
          padding-right: 42px;
          background-color: #deb068;
          color:#202020;
          border-radius: 30px;
          position: absolute;
          top: 295px;

        }
        a{
          text-decoration: none;
          color: black;

        }
      }
    }
    .sentence{
      font-family: cursive;
      font-size: 43px;
      color: #202020;
      justify-content: center;
      align-items: center;
      padding-top: 130px;
      font-weight: bold;
      padding-left: 460px;
    }
    .sentence2{
      font-family: cursive;
      font-size: 43px;
      color: #202020;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      padding-top: 30px;
    }
    .content_explanation{
      font-weight: bold;
      font-family: cursive;
      font-size: 32px;
      color: #202020;
      padding-top: 50px;
    }

  }
}
.pagenate{
  font-size: 20px;
  height: 30px;
  background-color: #008080;
  color: blue;
  text-decoration: none;
  padding-left: 110px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.destroy-user{
  padding-right: 130px;
}
.footer_sentence{
  font-size: 20px;
  height: 30px;
  background-color: #008080;
  color: blue;
  text-decoration: none;
  padding-left: 110px;
  list-style: none;
}

.input{
  height: 60px;
  width: 350px;
  border-radius: 10px;
  padding-left: 10px;
  border: 2px solid black;
}

.send_btn{
  width: 160px;
  height: 40px;
  margin-top: 15px;
  margin-left: 85px;
  padding: 8px 23px;
  background-color: #4169e1;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

.sign_up_sentence{
  font-family: cursive;
  font-size: 28px;
  font-weight: bold;
}
.title{
  text-decoration: none;
}

a{
  text-decoration: none;
  color: blue;
}