.menu{
  display: flex;
  height: 90px;
  background-color: #2f4f4f;
  color: #eeeeee;

   &_left{
     width: 900px;
     font-size: 50px;
     font-weight: bold;
     text-align: center;
     padding-top: 6px;
     font-family: 'Cherry Swash', cursive;
   }

  &_right{
    width: 900px;
    
    &_name{
      height: 50px;
      padding-left: 443px;
      padding-top: 10px;
      font-size: 20px;
    }

    &_function{
      height: 40px;
      text-align: center;
      font-size: 20px;
      padding-left: 350px;

      .fa-camera{
        padding-left: 10px;
        color: #eeeeee;
      }
      
      .fa-thumbs-up{
        padding-left: 10px;
        color: #eeeeee;
      }
      
      .fa-sign-out-alt{
        padding-left: 10px;
        color: #eeeeee;
      }

      .fa-sign-in-alt{
        padding-left: 10px;
        color: #eeeeee;
      }

      .fa-user-plus{
        padding-left: 10px;
        color: #eeeeee;
      }
    }

    .icon{
      text-decoration: none;
      font-size: 20px;
      color: #eeeeee;
    }
  }
}